



div.cards {
  margin:20px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: whitesmoke;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;

  img {
    max-width: 300px;

  }
  
  .card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 75%;
  }

  div.card-title {
    background: whitesmoke;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
    font-size: 20px;
	text-align: center;
	font-weight: bold;
  }
  

  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 30px;
  }

  div.card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }
  

  
}


  div.card-flap {
    background: whitesmoke;
    transform: rotateX(0deg);
    text-align: center;
    
  }

  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }


a.btn {
  background:#999;
  border-radius: 8px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: white;
  display: inline-block;
  padding: 3px 15px 4px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
	margin-left: 67%;
}

a.bbtn {
	background:#999;
	border-radius: 8px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  	color: black;
  	display: inline-block;
  	padding: 3px 15px 8px;
 	position: relative;
	margin-left: 83%;
	transition: all 0.1s 0s ease-out;

}

.center {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: darkslategray;
    
}


.btn-toolbar{
	text-align: center;
	  margin:80px auto;
	  margin-left: 38%;
}

.add_date{
	text-align: right;
}

.container-travel{

  	 
}

