<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Rokepia | Anime </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/popstyle.css" type="text/css">
    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
                            <img src="/img/logo/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/"> 홈 </a></li>
                                <li><a> 카테고리 <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href=""> 드라마 </a></li>
                                        <li><a href="./anime-watching.html"> 영화 </a></li>
                                        <li><a href="/contents"> 애니메이션 </a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html"> 게시판 <span class="arrow_carrot-down"></span></a>
                                	<ul class="dropdown">
										<li><a href=""> 자유 게시판 </a></li>
										<li><a href=""> 같이 여행가요 </a></li>
									</ul>
                                </li>
                                
                                <li><a href="#"> 성지 건의 </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="./login.html"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> 홈 </a>
                        <a href="./categories.html"> 카테고리 </a>
                        <span> 애니 </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- 컨텐츠목록시작 -->
    <section class="product-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product__page__content">
                        <div class="product__page__title">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-6">
                                    <div class="section-title">
                                        <h4> 애니 </h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="product__page__filter">
                                        <p>Order by:</p>
                                        <select>
                                            <option value="">A-Z</option>
                                            <option value="">1-10</option>
                                            <option value="">10-50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
							
							
							<div class="col-lg-4 col-md-6 col-sm-6">-->
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/img/ani/anime-1.png" onClick="javascript:popOpen();">
                                        <div class="ep">18 / 18</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>Movie</li>
                                        </ul>
                                        
                                        <h5><a onClick="javascript:popOpen();">최애의 아이</a></h5>
                                    </div>
                                </div>
                            </div>
							
							
							
							<!--  반복시작-->
							<div class="col-lg-4 col-md-6 col-sm-6" th:each="test2 : ${testModel2}">-->
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/img/ani/anime-1.png" onClick="javascript:popOpen();">
                                        <div class="ep" >7</div>
                                        <div class="comment" th:text="${test2.location_count}"><i class="fa fa-comments"></i> </div>
                                        <div class="view" th:text="${test2.view_count}"><i class="fa fa-eye"></i> </div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>Movie</li>
                                        </ul>
                                        <h5><a onClick="javascript:popOpen();" th:text="${test2.title}"></a></h5>
                                    </div>
                                </div>
                            </div>
							
							
							
							
							
							
							
							
							
<!--                            <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                                <div class="product__item">-->
<!--                                    <div class="product__item__pic set-bg" data-setbg="/img/ani/anime-1.png" onClick="javascript:popOpen();">-->
<!--                                        <div class="ep">18 / 18</div>-->
<!--                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>-->
<!--                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>-->
<!--                                    </div>-->
<!--                                    <div class="product__item__text">-->
<!--                                        <ul>-->
<!--                                            <li>Active</li>-->
<!--                                            <li>Movie</li>-->
<!--                                        </ul>-->
<!--                                        <h5><a href="#">최애의 아이</a></h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                                <div class="product__item">-->
<!--                                    <div class="product__item__pic set-bg" data-setbg="/img/ani/anime-2.png">-->
<!--                                        <div class="ep">18 / 18</div>-->
<!--                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>-->
<!--                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>-->
<!--                                    </div>-->
<!--                                    <div class="product__item__text">-->
<!--                                        <ul>-->
<!--                                            <li>Active</li>-->
<!--                                            <li>Movie</li>-->
<!--                                        </ul>-->
<!--                                        <h5><a href="#">주술회전</a></h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                                <div class="product__item">-->
<!--                                    <div class="product__item__pic set-bg" data-setbg="/img/ani/anime-3.jpg">-->
<!--                                        <div class="ep">18 / 18</div>-->
<!--                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>-->
<!--                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>-->
<!--                                    </div>-->
<!--                                    <div class="product__item__text">-->
<!--                                        <ul>-->
<!--                                            <li>Active</li>-->
<!--                                            <li>Movie</li>-->
<!--                                        </ul>-->
<!--                                        <h5><a href="#">장송의 프리렌</a></h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                                <div class="product__item">-->
<!--                                    <div class="product__item__pic set-bg" data-setbg="/img/ani/anime-4.jpg">-->
<!--                                        <div class="ep">18 / 18</div>-->
<!--                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>-->
<!--                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>-->
<!--                                    </div>-->
<!--                                    <div class="product__item__text">-->
<!--                                        <ul>-->
<!--                                            <li>Active</li>-->
<!--                                            <li>Movie</li>-->
<!--                                        </ul>-->
<!--                                        <h5><a href="#">제로의 사역마</a></h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                                <div class="product__item">-->
<!--                                    <div class="product__item__pic set-bg" data-setbg="/img/ani/anime-5.jpg">-->
<!--                                        <div class="ep">18 / 18</div>-->
<!--                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>-->
<!--                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>-->
<!--                                    </div>-->
<!--                                    <div class="product__item__text">-->
<!--                                        <ul>-->
<!--                                            <li>Active</li>-->
<!--                                            <li>Movie</li>-->
<!--                                        </ul>-->
<!--                                        <h5><a href="#">진격의 거인</a></h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--                                <div class="product__item">-->
<!--                                    <div class="product__item__pic set-bg" data-setbg="/img/ani/anime-6.jpg">-->
<!--                                        <div class="ep">18 / 18</div>-->
<!--                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>-->
<!--                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>-->
<!--                                    </div>-->
<!--                                    <div class="product__item__text">-->
<!--                                        <ul>-->
<!--                                            <li>Active</li>-->
<!--                                            <li>Movie</li>-->
<!--                                        </ul>-->
<!--                                        <h5><a href="#">도쿄리벤져스</a></h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                          </div>
                       </div>   
                    <div class="product__pagination">
                        <a href="#" class="current-page">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#"><i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>조회수 높은순</h5>
                            </div>
                            <div class="filter__gallery">
                                <div class="product__sidebar__view__item set-bg mix day years"
                                data-setbg="/img/sidebar/tv-1.jpg">
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Boruto: Naruto next generations</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg mix month week"
                            data-setbg="/img/sidebar/tv-2.jpg">
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg mix week years"
                        data-setbg="/img/sidebar/tv-3.jpg">
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg mix years month"
                    data-setbg="/img/sidebar/tv-4.jpg">
                    <div class="view"><i class="fa fa-eye"></i> 9141</div>
                    <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img src="/img/logo/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="./index.html">홈</a></li>
                        <li><a href="./categories.html">카테고리</a></li>
                        <li><a href="./blog.html">게시판</a></li>
                        <li><a href="#">성지건의</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

              </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!--<div class="modal-bg" onclick="javascrpit:popClose();"></div> //팝업배경-->
<!--	<div class="modal-wrap">-->
<!--		<input type='button' value="X"  onclick="javascrpit:popClose();" class="popCloseButton">-->
<!--	<section class="layer_popup" >-->
	
<!--	  <div class ="left">-->
<!--	  <div class="image">-->
<!--		    <div class="imagein" style="background-image: url('/img/ani/anime-1.png');">-->
<!--			  <button class="goodinfo">10/10</button>-->
<!--			  <button class="locainfo">성지수</button>-->
<!--			  <button class="lookinfo">조회수</button>-->
<!--			</div>-->
<!--	  </div>-->
	  		
<!--	  <div class="contents_title">나루토</div>-->
	  
<!--	  </div>-->
	  
<!--	  <div class ="right">-->
<!--		  <table width="100%">-->
<!--			  <thead>-->
<!--				  <tr>-->
<!--					  <th width="30%"></th>-->
<!--					  <th width="70%"></th>-->
<!--				  </tr>-->
<!--			  </thead>-->
			  
<!--			  <tbody>-->
<!--				  <tr>-->
<!--					  <td class="TD1">-->
<!--		  				<img src="/img/ani/anime-2.png">-->
<!--					  </td>-->
<!--					  <td class="gray">옛날에 괴물 구미호가 있었다. 꼬리가 아홉 달린 구미호였다.-->

<!--그 꼬리를 한 번 휘두를 때마다 산이 무너지고 해일이 덮쳤으니, 사람들은 고민 끝에 닌자들을 불러 모았다. 그 중 한 닌자가 괴물 구미호를 봉인하지만, 목숨을 잃고 만다. 그 닌자는 '4대 호카게'라고 한다..</td>-->
<!--				  </tr>-->
				  
<!--				  <tr th:each="test, testStat : ${testModel}">-->
<!--					  <td class="TD1">-->
<!--		  				<img th:src="@{${test.image}}">-->
<!--					  </td>-->
<!--					  <td class="gray" th:text="${test.info}">-->
<!--				  </tr>-->
				  
				  
<!--				   <tr>-->
<!--					  <td>임시이미지</td>-->
<!--					  <td>임시본문</td>-->
<!--				  </tr>-->
<!--				   <tr>-->
<!--					  <td>임시이미지</td>-->
<!--					  <td>임시본문</td>-->
<!--				  </tr>-->
<!--				   <tr>-->
<!--					  <td>임시이미지</td>-->
<!--					  <td>임시본문</td>-->
<!--				  </tr>-->
<!--				   <tr>-->
<!--					  <td>임시이미지</td>-->
<!--					  <td>임시본문</td>-->
<!--				  </tr>-->
<!--				   <tr>-->
<!--					  <td>임시이미지</td>-->
<!--					  <td>임시본문</td>-->
<!--				  </tr>-->
<!--				  <tr>-->
<!--					  <td>임시이미지</td>-->
<!--					  <td>임시본문</td>-->
<!--				  </tr>-->
<!--				  <tr>-->
<!--					  <td>임시이미지</td>-->
<!--					  <td>임시본문</td>-->
<!--				  </tr>-->
<!--				  <tr>-->
<!--					  <td>임시이미지</td>-->
<!--					  <td>임시본문</td>-->
<!--				  </tr>-->
<!--				  <tr>-->
<!--					  <td>임시이미지</td>-->
<!--					  <td>임시본문</td>-->
<!--				  </tr>-->
<!--			  </tbody>-->
<!--		  </table>-->
<!--  </div>-->
<!--</section>-->
	
	

<!--</div> //팝업영역-->







<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/player.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/pop.js"></script>

<!--<div th:replace="fragment :: asd"></div>-->
<div th:insert="~{/test :: asd}"></div>
</body>

</html>