<!DOCTYPE html>
<html lang="ko">

<head th:replace="header :: header"></head>
<head>
    <title> 회원가입 </title>
</head>


<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    
    <!-- Header End -->

    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2> 회원가입 </h2>
                        <p> 성지사이트 로케피아 입니다. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Signup Section Begin -->
    <section class="signup spad">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-lg-6">
                    <div class="login__form">
                         <h3> 회원가입 </h3>
                        <form action="signup" method="post" th:object="${member}">
                            <div class="input__item" >
								<label class="form-label"> 아이디(Email) </label>
                                <input type="email" th:field="*{member_email}" placeholder="이메일을 입력해주세요.">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
								<label class="form-label"> 이름 </label>
                                <input type="text" th:field="*{name}" placeholder="이름을 입력해주세요.">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
								<label class="form-label"> 비밀번호 </label>
                                <input type="text" th:field="*{password}" placeholder="비밀번호를 입력해주세요.">
                                <span class="icon_lock"></span>
                            </div>
                            <style>
							    .form-check-label {
        						color: white;
    							}
							</style>
	                        <div class="input__item">
								<label class="form-label"> 성별 </label>
								<select th:field="*{gender}">
									<option value="MALE"> 남자 </option>
									<option value="FEMALE"> 여자 </option>
								</select>
                            <button type="submit" class="site-btn"> 등록하기 </button>
                        </form>
                        <h5> 이미 계정이 있으신가요? <a href="/member/login"> 로그인 </a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup Section End -->

    <!-- Footer Section Begin -->
    <foot th:replace="footer :: footer"></foot>
      <!-- Footer Section End -->


    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/player.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>
