<!DOCTYPE html>
<html lang="ko">
<head th:replace="header :: header"></head>
<head>
    <title> 회원가입 </title>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2> 회원가입 </h2>
                        <p> 성지사이트 로케피아 입니다. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Signup Section Begin -->
    <section class="signup spad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3> 회원가입 </h3>
                        <form action="signup" method="post" th:object="${member}">
                            <div class="input__item" >
                                <input type="text" placeholder="이메일">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="이름">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="비밀번호">
                                <span class="icon_lock"></span>
                            </div>
                            <style>
							    .form-check-label {
        						color: white;
    							}
							</style>
	                        <div class="input__item">
	                            <label for="gender">성별:</label>
	                            <div class="form-check form-check-inline">
	                                <input class="form-check-input" type="radio" name="gender" id="male" value="male">
	                                <label class="form-check-label" for="male">남성</label>
	                            </div>
	                            <div class="form-check form-check-inline">
	                                <input class="form-check-input" type="radio" name="gender" id="female" value="female">
	                                <label class="form-check-label" for="female">여성</label>
	                            </div>
	                        </div>
                            <button type="submit" class="site-btn"> 등록하기 </button>
                        </form>
                        <h5> 이미 계정이 있으신가요? <a href="/member/login"> 로그인 </a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/player.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    
    <foot th:replace="footer :: footer"></foot>

</body>

</html>