<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.example.rokepia.repository.MemberMapper">
	<insert id="saveMember">
		INSERT INTO member (
			member_email,
			name,
			password,
			profile,
			gender
		) VALUES (
			#{member_email},
			#{name},
			#{password},
			#{profile},
			#{gender}
		)
	</insert>
</mapper>