<!DOCTYPE html>
<html lang="ko">

<head th:replace="header :: header"></head>
<head>
    <title> RokePia </title>
</head>

<body>
    <!-- 우선적으로 창띄울때 -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <section class="main">
		
    </section>

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4> 카테고리 </h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn"> 모두 보기 <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/category/movie.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/category/drama.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <a href="/contents/anime"><div class="product__item__pic set-bg" data-setbg="img/category/anime.jpg"></div></a>
                                </div>
                            </div>

</div>
</div>
</div>
</section>
<!-- Product Section End -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/player.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

<foot th:replace="footer :: footer"></foot>

</body>

</html>