<!DOCTYPE html>
<html lang="ko" >

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> RokePia </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/plyr.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/popstyle.css" type="text/css">
</head>

<body>
  <div th:fragment="asd">
	 <div class="modal-bg" onclick="javascrpit:popClose();" ></div> //팝업배경
		<div class="modal-wrap">
			<input type='button' value="X"  onclick="javascrpit:popClose();" class="popCloseButton">
		<section class="layer_popup" >
		
		  <div class ="left">
		  <div class="image">
			    <div class="imagein" style="background-image: url('/img/ani/anime-1.png');">
				  <button class="goodinfo">10/10</button>
				  <button class="locainfo">성지수</button>
				  <button class="lookinfo">조회수</button>
				</div>
		  </div>
		  		
		  <div class="contents_title">나루토</div>
		  
		  </div>
		  
		  <div class ="right">
			  <table width="100%">
				  <thead>
					  <tr>
						  <th width="30%"></th>
						  <th width="70%"></th>
					  </tr>
				  </thead>
				  
				  <tbody>
					  <tr>
						  <td class="TD1">
			  				<img src="/img/ani/anime-2.png">
						  </td>
						  <td class="gray">옛날에 괴물 구미호가 있었다. 꼬리가 아홉 달린 구미호였다.
	
	그 꼬리를 한 번 휘두를 때마다 산이 무너지고 해일이 덮쳤으니, 사람들은 고민 끝에 닌자들을 불러 모았다. 그 중 한 닌자가 괴물 구미호를 봉인하지만, 목숨을 잃고 만다. 그 닌자는 '4대 호카게'라고 한다..</td>
					  </tr>
					  
					  <tr th:each="test, testStat : ${testModel}">
						  <td class="TD1">
			  				<img th:src="@{${test.image}}">
						  </td>
						  <td class="gray" th:text="${test.info}">
					  </tr>
				  </tbody>
			  </table>
	  </div>
	</section>
		
		
	
	</div> 
	
	<!-- 자바스크립트 코드 -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/player.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/jquery.slicknav.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/pop.js"></script>
  </div>
</body>

</html>